@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header-principal {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

header{
    padding-top: 50px;
    font-size: 1.4em;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
    color: blue;
}

/* MAIN */

.fundo-branco {
    background-color: white;
    padding: 20px;
    line-height: 35px;
}

.foto-flor {
    background-image: url('../imagens/background001.jpg');
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    padding-top: 50px;
}
aside {
    padding: 20px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.311);
    color: white;
    max-width: 300px;
}
.foto-livro {
    background-image: url('../imagens/background002.jpg');
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    padding-top: 50px;
}